@import "../../scss/mixins";
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

.about {
	padding-bottom: rem(30);
	@include adaptiveValue("padding-top", 90, 30, 1230, 320, 1);
	&__container {
		display: flex;
		flex-direction: column;
		gap: rem(30);
	}
	&__top {
		// margin-bottom: rem(30);
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		gap: rem(10);
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	&__text {
		max-width: 360px;
		font-size: rem(18);
		line-height: 1.65;

		@media (max-width: $tablet) {
			max-width: 100%;
		}
	}
}
