@import "../../scss/mixins";
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

.mission {
	@include adaptiveValue("padding-top", 50, 30, 1230, 320, 1);
	padding-bottom: 30px;

	&__container {
		display: flex;
		flex-direction: column;
		row-gap: rem(20);
	}
	&__top {
		display: flex;
		gap: rem(10);
		justify-content: space-between;
		@media (max-width: $tablet) {
			flex-direction: column;
		}
	}
	&__title {
		flex: 1;
	}
	&__info {
		display: flex;
		gap: rem(10);
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	&__suptitle {
		flex: 1;
		max-width: rem(390);
		@include adaptiveValue("font-size", 18, 16, 1230, 991.98, 1);
		line-height: 1.65;
		@media (max-width: $mobile) {
			max-width: 100%;
		}
	}
	&__wrapper {
		display: flex;
		align-items: center;
		position: relative;
		height: rem(424);
		@media (max-width: $tablet) {
			align-items: start;
		}
		@media (max-width: $mobile) {
			height: auto;
		}
	}
	&__image {
		flex: 1 0 340px;
		@include adaptiveValue("width", 340, 190, 1230, 767.98, 1);
		@include adaptiveValue("height", 424, 237, 1230, 767.98, 1);

		position: absolute;
		top: 0;
		left: 0;

		@media (max-width: $mobile) {
			display: none;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	&__inner {
		background-color: #e9c867;
		width: 100%;
		padding: 30px 10px;
		display: flex;
		justify-content: flex-end;
		@include adaptiveValue("padding-left", 340, 190, 1230, 767.98, 1);
		@media (max-width: $mobile) {
			background-color: transparent;
			padding: 0;
		}
	}
	&__text {
		max-width: 750px;
		@include adaptiveValue("font-size", 34, 18, 1230, 320, 1);
		line-height: 1.4;
		font-weight: 700;
	}
}
