@import "../../scss/mixins";
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

.policy {
	background-color: #fff;

	// @include adaptiveValue("padding-top", 60, 30, 1230, 320, 1);
	padding-top: rem(60);
	@include adaptiveValue("padding-bottom", 60, 30, 1230, 320, 1);
	&__container {
		color: #000;
		position: relative;
	}
	&__header {
		position: fixed;
		top: rem(20);
		right: rem(20);
		@include adaptiveValue("top", 20, 10, 991.98, 320, 1);
		@include adaptiveValue("right", 20, 10, 991.98, 320, 1);
	}
	&__link {
		color: #ffffff;
		background-color: #000000;
		text-transform: uppercase;
		line-height: rem(40);
		font-weight: 700;
		padding-top: rem(12);
		padding-bottom: rem(12);
		@include adaptiveValue("padding-left", 25, 18, 991.98, 320, 1);
		@include adaptiveValue("padding-right", 25, 18, 991.98, 320, 1);
		transition: background-color 0.3s ease 0s;

		&:hover {
			background-color: rgba($color: #000000, $alpha: 0.8);
		}
	}
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 42, 30, 1230, 320, 1);
		line-height: 1.23;
		text-align: center;
		margin-bottom: rem(60);
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: rem(30);
	}
	&__suptitle {
		font-weight: 700;
		font-size: rem(20);
		line-height: 1.55;
	}
	&__inner {
	}
	&__subtitle {
		font-size: 20px;
		line-height: 1.55;
	}
}
